 # Unity generated
Builds/
Temp/
Library/
obj/
.vs/
UnityPackageManager/

# Visual Studio / MonoDevelop generated
*.csproj
*.unityproj
*.sln
*.suo
*.userprefs
*.meta

# OS generated
.DS_Store

# Jetbrains Rider
.idea

# Recorded Data
IMG
driving_log.csv
Archive.zip
sdc.app
